@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark: #1d2226;
  --light-blue: #4e869e;
  --off-ehite: #909192;
  /* pastels */
  --desat-red: #dd8585;
  --desat-blue: #85c3dd;
  --desat-purple: #8589dd;
  --desat-green: #85ddb3;
}

body {
  background-color: var(--dark);
  color: white;
  font-family: "Roboto", sans-serif;
}

.links {
  display: flex;
  background: #3b3b3b;
  border-radius: 100px;
  padding: 5px;
  height: 4vh;
}

.links > a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.logo {
  font-size: larger;
}

.menu-line {
  background: white;
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
}

@media screen and (min-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 18vh;
    position: sticky;
    top: 10px;
  }

  .collapsed {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 35px;
    display: none;
    margin-top: -150px;
    height: 15.03vh;
  }

  .mob-intro {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .rectangle {
    border: solid 1px var(--light-blue);
    height: 33vw;
    width: 33vw;
  }

  .rectangle2 {
    margin: 12px 12px;
    border: solid 1px white;
    height: 33vw;
    width: 33vw;
  }

  .sidebar {
    font-size: x-large;
    margin: 20vh 5vh;
    list-style: none;
  }

  .side-link {
    color: white;
    text-decoration: none;
  }

  .intro {
    margin: 20vh 5vh;
  }

  .landing,
  .about {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .projects {
    height: 100vh;
  }

  .about-rect {
    background: #1e1e1e;
    width: 45vw;
    height: 62vh;
    padding: 20px;
  }

  .use {
    font-size: larger;
  }

  .bd {
    font-size: large;
  }

  .rect-pic {
    margin-left: 55px;
  }

  .rectt {
    border: var(--light-blue) solid 1px;
    z-index: -1;
    position: absolute;
    top: 1270px;
    left: 65vw;
    height: 400px;
    width: 400px;
  }

  .rectt2 {
    border: var(--light-blue) solid 1px;
    z-index: -1;
    position: absolute;
    top: 1320px;
    left: 17vw;
    height: 62vh;
    width: 45vw;
  }

  .ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ball {
    background: var(--light-blue);
    border-radius: 100px;
    height: 50px;
    width: 50px;
    margin-left: 50px;
  }

  .tabs-container {
    display: flex;
    justify-content: center;
  }

  .proj-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    height: 60px;
    padding-right: 50px;
    border-radius: 15px;
    margin: 15px;
  }

  .circle {
    width: 50px;
    height: 50px;
    background: var(--desat-red);
    margin: 10px;
    border-radius: 100px;
  }

  .circle2 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: var(--desat-blue);
    margin: 10px;
  }

  .circle3 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: var(--desat-purple);
    margin: 10px;
  }

  .circle4 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: var(--desat-green);
    margin: 10px;
  }

  .proj-contain {
    display: flex;
    justify-content: center;
  }

  .proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 34px;
  }

  .p-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .p-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .p-3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .p-4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .p-5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .p-6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .p-7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .p-8 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .p-9 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .p-10 {
    grid-area: 5 / 2 / 6 / 3;
  }

  .p-items {
    display: flex;
  }

  .float {
    background: #525252;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 20px 0px 10px 0px;
  }

  .proj-rect {
    background: #1e1e1e;
    width: 400px;
    height: 150px;
    margin-left: -390px;
    margin-top: 90px;
    padding: 10px 5px;
  }

  .github {
    height: 25px;
    width: 25px;
    background: #3b3b3b;
    border-radius: 100px;
  }

  .rect-back {
    background: var(--desat-red);
    width: 400px;
    height: 170px;
    margin-left: -80px;
    margin-top: 100px;
  }

  .p-2 > .rect-back {
    background: var(--desat-blue);
  }

  .p-3 > .rect-back {
    background: var(--desat-purple);
  }

  .p-4 > .rect-back {
    background: var(--desat-green);
  }

  hr.divider {
    margin-bottom: 5px;
    border-width: 1px;
  }

  .proj-rect > p {
    margin: 0;
    padding: 0;
  }
  .proj-rect > h3 {
    margin: 0;
    padding: 0;
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .contact-rect {
    grid-area: 1 / 2 / 6 / 3;
  }
  .contact-side {
    grid-area: 3 / 1 / 4 / 2;
  }

  .contact-side {
    border: solid 1px var(--light-blue);
    height: 500px;
    width: 500px;
    padding: 20px;
    margin-left: 15vh;
  }

  .contact-rect {
    background: #181d20;
    width: 50vw;
    height: 100%;
  }

  .contact-rect > h3 {
    margin-top: 32vh;
    margin-left: 5vh;
    /* margin-bottom: -1vh; */
    font-size: xx-large;
  }

  .contact-rect > form {
    font-size: larger;
    margin-top: -10px;
    margin-left: 5vh;
  }

  input[type="email"],
  input[type="text"] {
    width: 20vw;
    height: 5vh;
  }

  textarea {
    width: 40.74vw;
    height: 150px;
    resize: none;
  }

  input[type="submit"] {
    margin-top: 5px;
    width: 20vw;
    height: 5vh;
  }

  input,
  textarea {
    color: white;
    background: #151719;
    border: none;
  }
}
